@media screen and (max-width: 750px){
    .web {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .logo {
        display: none;
    }
    
    .language{
        display: none;

    }

    .from_menu{
        background-color: #129AFE;
        display: none;
    }

    .but{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    
    .header {
        display: flex;
        justify-content: space-between;
        flex-direction:row;
        padding: 24px 104px;
        position: relative;
        width: 375px;
    }
    .example{
        border-radius: 25px;
    }

    .submit{
        border-radius: 25px;
    }
    
    .icon_vecrot{
        position: absolute;
        right: 94%;
        top: 30%;
        width: 26px;
        height: 30px;
        padding-left: 16px;
        }
    

    
    .button1{
        display: inline-flex;
        padding: 5px 24px;
        align-items: center;
        gap: 30px;
        border-radius: 50px;
        border: 1px solid  #129AFE;
        background:#129AFE;
        cursor: pointer; 
        margin-left: 190px;

    }
    
    
    .first{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .responsive{
        display: none;
    }

    .responsive2{
        font-family: Abel;
        font-size: 48px;
        font-weight: 400;
        line-height: 64px;
        color: #000D40;
        text-align: center;

    }

    .link{
        color: #000D40;
        text-align: center;
        font-family: Abel;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px; 
        width: 343px;
        height: 138px;
    }
    
    * {
        box-sizing: border-box;
      }

    form.example input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid #129AFE;
        float: left;
        width: 80%;
        background: rgba(255, 255, 255, 1);
        margin-top: 80px;
      }
      
    form.example button {
        float: left;
        width: 20%;
        padding: 10px;
        color: white;
        font-size: 17px;
        background: rgba(18, 154, 254, 1);
        border-left: none;
        cursor: pointer;
        margin-top: 80px;
    }
    
    
    
    .parth img:first-child {
        display: none;
    }
    
    
    .info {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    
    .tangle {
        flex-basis: 100%; 
        flex-grow: 1;
        box-sizing: border-box;
        padding: 1em;
        border: 1px solid #ddd;
        background: rgba(250, 251, 252, 1);
        font-family: Abel;
    }
    
    
    .some_text{
        color: #000D40;
        font-family: Abel;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;

    }
    
    .article{
        color:  #000D40;
        font-family: Abel;
        font-size: 32px;
        font-weight: 400;
        line-height: 40px; 
    }
    
    .second{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    
    .text_second{
        color: #000D40;
        text-align: center;
        font-family: Abel;
        font-size: 48px;
        font-weight: 400;
        line-height: 64px; 
    }
    
    .FAQ_questions {
        padding: 1rem; 
    }
    .accordion button .accordion-title {
        padding: 0.5em 1em 0.5em 0; 
    }
    .accordion button .icon {
        top: 14px; 
        width: 18px; 
        height: 18px;
    }
    
    body {
         margin: 0;
         padding: 0;
         background: #fff;
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         gap: 32px;
         align-self: stretch;
         min-height: 100vh;
         color:#000D40;
        font-family: Abel;
        font-size: 24px;
    }
    
    .accordion .accordion-item {
         border-bottom: 1px solid #e5e5e5;
    }
    .accordion .accordion-item button[aria-expanded='true'] {
         border-bottom: 1px solid #129AFE;
    }
    .accordion button {
         position: relative;
         display: block;
         text-align: left;
         width: 100%;
         padding: 1em 0;
         color:#000D40;
        font-family: Abel;
        font-size: 24px;
         font-weight: 400;
         border: none;
         background: none;
         outline: none;
    }
    .accordion button:hover, .accordion button:focus {
         cursor: pointer;
         color: #129AFE;
    }
    .accordion button:hover::after, .accordion button:focus::after {
         cursor: pointer;
         color: #129AFE;
         border: 1px solid #03b5d2;
    }
    
    .accordion button .icon::before {
         display: block;
         position: absolute;
         content: '';
         top: 9px;
         left: 5px;
         width: 10px;
         height: 2px;
         background: currentColor;
    }
    .accordion button .icon::after {
         display: block;
         position: absolute;
         content: '';
         top: 5px;
         left: 9px;
         width: 2px;
         height: 10px;
         background: currentColor;
    }
    
    .third {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: #000D40;
        font-family: Abel;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 64px;
        margin-bottom: 100px;
    }
    
    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px; 
        width: 132px;
        height: 128px;
    }

    .image-container img {
        width: 90%; 
        height: auto; 
    }
    
    .Button_part4{
        border-radius: 100px;
        background: #129AFE;
        color:  #FFF;
        text-align: center;
        font-family: Abel;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; 
        display: inline-flex;
        padding: 11.5px 28px;
        align-items: flex-start;
        cursor: pointer;
    }
    .footer{
        display: none;
    }
    .footer2{
        display: flex;
        width: 1440px;
        height: 800px;
        background: #000D40;
        width: 100%; 
        color: white;
        padding: 20px 0;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 20px;

        
    }
    .language2{
        color: rgba(255, 255, 255, 1);
        font-family: Abel;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center; 
   
    }

    .Form{
        color: #5C6485;
        font-family: Abel;
        font-size: 14px;
        font-weight: 200;
        line-height: 20px; 
        border-radius: 20px;
        border: 1px solid  #129AFE;
        display: flex;
        padding: 12.5px 12px 12.5px 20px;
        align-items: center;
        gap: 8px;
        align-self: stretch;
    }
    
    .Button2{
        border-radius: 20px;
        background:  #129AFE;
        display: flex;
        padding: 11.5px 28px;
        justify-content: center;
        align-items: center;
        
    }
    
    .form_button{
        display: flex;
        justify-content: space-between;
        padding-left: 20px;

    }
    .F_P{
        color:  #FFF;
        font-family: Aleo;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 200px;
    }
    
    
    
    .Pages{
        color: #FFF;
        font-family: Aleo;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .Features{
        color: #FFF;
        font-family: Aleo;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        align-items: flex-start;
    }
    

}

@media screen and (min-width: 700px){
    .web {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .footer2{
        display: none;
    }
    
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 104px;
        position: relative;
        width: 1440px;
    }
    
    .icon_vecrot{
        position: absolute;
        right: 94%;
        top: 30%;
        width: 33px;
        height: 32px;
        }
    
    
    .logo {
        width: 157px;
        height: 25px;
        color: rgba(0, 13, 64, 1);
        left: 80%;
        top: 7.34%;
        white-space: nowrap;
    }
    
    .menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 40px;
        color: #000D40;
        font-family: Abel;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin-left: 1000px;
        
    }

    /* .menu_button{
        display: none;
    } */

    
    
    .language{
        color: #129AFE;
        font-family: Abel;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .button1{
        display: flex;
        padding: 11.5px 28px;
        align-items: center;
        gap: 50px;
        border-radius: 70px;
        border: 1px solid  #129AFE;
        background:#FFF;
        cursor: pointer; 
        
    }
    
    
    .first{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .responsive{
        font-family: Abel;
        font-size: 56px;
        font-weight: 400;
        line-height: 64px;
        white-space: nowrap;
    }

    .responsive2{
        display: none;
    }
    .link{
        color: #000D40;
        text-align: center;
        font-family: Abel;
        font-size: 24px;
        font-weight: 400;
        line-height: 20px; 
    }

    .link2{
        display: none;
    }
    
    * {
        box-sizing: border-box;
      }
    form.example input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid #129AFE;
        float: left;
        width: 80%;
        background: rgba(255, 255, 255, 1);
      }
      
    form.example button {
        float: left;
        width: 20%;
        padding: 10px;
        color: white;
        font-size: 17px;
        background: rgba(18, 154, 254, 1);
        border-left: none;
        cursor: pointer;
      }
    
    
    
    .parth img:first-child {
        margin-right: 1000px;
        margin-top: 20px;
    
    }
    
    
    .info {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }
    
    .tangle {
        flex-basis: calc(33.333% - 1em); 
        flex-grow: 1;
        box-sizing: border-box;
        padding: 1em;
        border: 1px solid #ddd;
        background: rgba(250, 251, 252, 1);
        font-family: Abel;
    }
    
    
    .some_text{
        color: #000D40;
        font-family: Abel;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
    }
    
    .article{
        color:  #000D40;
        font-family: Abel;
        font-size: 32px;
        font-weight: 400;
        line-height: 40px; 
    }
    
    .second{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    
    .text_second{
        color: #000D40;
        text-align: center;
        font-family: Abel;
        font-size: 48px;
        font-weight: 400;
        line-height: 64px; 
    }
    
    
    
    body {
         margin: 0;
         padding: 0;
         background: #fff;
         display: flex;
         min-height: 100vh;
         color:#000D40;
        font-family: Abel;
        font-size: 24px;
    }
    .FAQ_questions {
         margin: 0 auto;
         padding: 4rem;
         width: 48rem;
    }
    .accordion .accordion-item {
         border-bottom: 1px solid #e5e5e5;
    }
    .accordion .accordion-item button[aria-expanded='true'] {
         border-bottom: 1px solid #129AFE;
    }
    .accordion button {
         position: relative;
         display: block;
         text-align: left;
         width: 100%;
         padding: 1em 0;
         color:#000D40;
        font-family: Abel;
        font-size: 24px;
         font-weight: 400;
         border: none;
         background: none;
         outline: none;
    }
    .accordion button:hover, .accordion button:focus {
         cursor: pointer;
         color: #129AFE;
    }
    .accordion button:hover::after, .accordion button:focus::after {
         cursor: pointer;
         color: #129AFE;
         border: 1px solid #03b5d2;
    }
    .accordion button .accordion-title {
         padding: 1em 1.5em 1em 0;
    }
    .accordion button .icon {
         display: inline-block;
         position: absolute;
         top: 18px;
         right: 0;
         width: 22px;
         height: 22px;
         border: 1px solid;
         border-radius: 22px;
    }
    .accordion button .icon::before {
         display: block;
         position: absolute;
         content: '';
         top: 9px;
         left: 5px;
         width: 10px;
         height: 2px;
         background: currentColor;
    }
    .accordion button .icon::after {
         display: block;
         position: absolute;
         content: '';
         top: 5px;
         left: 9px;
         width: 2px;
         height: 10px;
         background: currentColor;
    }
    
    .third {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: #000D40;
        font-family: Abel;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 64px;
        margin-bottom: 100px;
    }
    
    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px; 
    }
    
    .Button_part4{
        border-radius: 100px;
        background: #129AFE;
        color:  #FFF;
        text-align: center;
        font-family: Abel;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; 
        display: inline-flex;
        padding: 11.5px 28px;
        align-items: flex-start;
        cursor: pointer;
    }
    
    
    .footer{
        display: flex;
        width: 1440px;
        height: 447px;
        background: #000D40;
        width: 100%; 
        color: white;
        padding: 20px 0;
        
    }

    
    .First_part {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        
    }
    
    .icon_vecrot1 {
        position: absolute;
        left: 5%; 
        top: 320%;
        width: 33px;
        height: 32px;
    }
    
    .text1 {
        color: #FFF;
        font-family: Aleo;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin-left: 80px; 
        margin-top: 70px;
    }
    
    .language2{
        color: rgba(255, 255, 255, 1);
        font-family: Abel;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
        margin-right: 100px;
        
    }
    
    .text3{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        margin-left: 80px;
    
    }
    
    .text2{
        color: #5C6485;
        font-family: Abel;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px; 
        padding-top: 130px;
        white-space: nowrap;
    }
    
    .Privacy_policy{
        color: rgba(255, 255, 255, 1);
        cursor: pointer; 
        padding-top: 130px;
        white-space: nowrap;
    }
    
    
    .F_P_K{
        color:  #FFF;
        font-family: Aleo;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        gap: 400px;
    }
    
    
    
    .Pages{
        color: #FFF;
        font-family: Aleo;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .Features{
        color: #FFF;
        font-family: Aleo;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 100px;
        align-items: flex-start;
    }
    
     
    
    .Keep_up_to_date{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
    }
    
    .Form{
        color: #5C6485;
        font-family: Abel;
        font-size: 14px;
        font-weight: 200;
        line-height: 20px; 
        border-radius: 20px;
        border: 1px solid  #129AFE;
        display: flex;
        padding: 12.5px 12px 12.5px 20px;
        align-items: center;
        gap: 8px;
        align-self: stretch;
    }
    
    .Button2{
        border-radius: 20px;
        background:  #129AFE;
        display: flex;
        padding: 11.5px 28px;
        justify-content: center;
        align-items: center;
    }
    
    .form_button{
        display: flex;
        justify-content: space-between;
    }
    




}